h1= title
h1= title.toUpperCase()

p.
  Nunc cras! Nunc vel odio. Penatibus tincidunt porttitor, turpis
  nec tincidunt et mus augue nec scelerisque nec nec, pid sit. Urna
  nunc, porta cum, porta est natoque vel, sed parturient, sed lacus
  cum vut, scelerisque sit turpis aliquam et, urna. Turpis! Cursus
  nisi facilisis turpis, arcu nunc augue sed elementum ridiculus
  enim nec adipiscing, scelerisque hac hac nisi elementum elementum
  nec est platea, eros. Enim auctor dolor tincidunt. Scelerisque
  ac lectus amet? Odio eros elementum turpis pulvinar egestas cras
  massa nisi dis est aliquam. Pulvinar augue vut? Lacus lorem lorem
  Montes pulvinar pellentesque mauris mauris tempor, dolor dapibus
  et nunc amet vel habitasse velit in enim porttitor diam? Augue
  purus, in in enim turpis rhoncus cursus sed. Duis sed, lectus



